/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
 /**
  * WHAT IS THIS FILE?
  *
  * Globally applied styles. No matter which components are in the page or matching route,
  * the styles in here will be applied to the Document, without any sort of CSS scoping.
  *
  */
 
 * {
   transition-duration: 300ms;
   scroll-behavior: smooth;
   overflow: none;
   /* -webkit-overflow-scrolling: auto !important; */
 }
 
 html {
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   font-family:
     ui-sans-serif,
     system-ui,
     -apple-system,
     BlinkMacSystemFont,
     "Segoe UI",
     Roboto,
     "Helvetica Neue",
     Arial,
     "Noto Sans",
     sans-serif,
     "Apple Color Emoji",
     "Segoe UI Emoji",
     "Segoe UI Symbol",
     "Noto Color Emoji";
     height: 100%;
 }
 
 body {
   display: flex;
   justify-content: center;
   /* background: #969696; */
   background: white;
   user-select: none;
   /* background-image: linear-gradient(135deg, #b1b1b1, #222); */
   color-scheme: only light;
   color: #000;
   height: 100%;
 
   ::-webkit-scrollbar {
     width: 12px;
   }
 
   ::-webkit-scrollbar-track {
     background-color: #ffffff;
   }
 
   ::-webkit-scrollbar-thumb {
     background-color: #ffffff;
     border: 2px solid #ffffff;
     border-radius: 6px;
   }
 
   input:-webkit-autofill {
     -webkit-box-shadow: 0 0 0px 1000px #739ac2 inset !important; /* Change 'color' to your desired background */
     box-shadow: 0 0 0px 1000px #739ac2 inset !important;
     -webkit-text-fill-color: #ffffff !important; /* Text color */
     color: #ffffff !important;
     background-color: #739ac2 !important;
   }
 
 
 }
 
 #qwik-inspector-overlay {
   display: none;
 }
 
 /* #qwik-inspector-overlay {
   display: none;
 }
 
 /* width */
 /* ::-webkit-scrollbar {
   width: 5px;
 } */
 
 /* Track */
 /* ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px rgb(137, 137, 137);
   border-radius: 10px;
 } */
 
 /* Handle */
 /* ::-webkit-scrollbar-thumb {
   background: rgb(133, 133, 133);
   border-radius: 10px;
 } */